.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
}

.circle_image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
    object-fit: cover;
}